---
- name: Add Jenkins repository
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo

- name: Import Jenkins GPG key
  rpm_key:
    state: present
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key

- name: Install Jenkins
  dnf:
    name: jenkins
    state: present

- name: Start and enable Jenkins
  systemd:
    name: jenkins
    state: started
    enabled: yes

- name: Ensure Jenkins plugin directory exists
  file:
    path: /var/lib/jenkins/plugins
    state: directory
    owner: jenkins
    group: jenkins
    mode: '0755'

- name: Install Jenkins Plugin CLI
  get_url:
    url: "https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/{{ plugin_manager_version }}/jenkins-plugin-manager-{{ plugin_manager_version }}.jar"
    dest: /opt/jenkins-plugin-manager.jar

- name: Install recommended Jenkins plugins
  command: >
    java -jar /opt/jenkins-plugin-manager.jar
    --war /usr/share/java/jenkins.war
    --plugin-download-directory /var/lib/jenkins/plugins
    --plugins {{ jenkins_plugins | join(' ') }}
  become: yes
  become_user: jenkins
  notify: Restart Jenkins
  register: plugin_install
  changed_when: "'Downloaded' in plugin_install.stdout"

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes

- name: Add jenkins user to docker group
  user:
    name: jenkins
    groups: docker
    append: yes
