---
# Ansible Playbook for VPC Setup
# This playbook handles the initial VPC provisioning tasks

- name: Provision VPC Infrastructure
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    vpc_name: "petclinic-vpc"
    vpc_cidr: "10.0.0.0/16"
    public_subnets:
      - "10.0.1.0/24"
      - "10.0.2.0/24"
      - "10.0.3.0/24"
    private_subnets:
      - "10.0.101.0/24"
      - "10.0.102.0/24"
      - "10.0.103.0/24"
    aws_region: "us-east-1"

  tasks:
    - name: Ensure VPC exists
      amazon.aws.ec2_vpc_net:
        name: "{{ vpc_name }}"
        cidr_block: "{{ vpc_cidr }}"
        region: "{{ aws_region }}"
        tags:
          Name: "{{ vpc_name }}"
          Environment: "dev"
          Project: "spring-petclinic"
      register: vpc

    - name: Create public subnets
      amazon.aws.ec2_vpc_subnet:
        vpc_id: "{{ vpc.vpc.id }}"
        cidr: "{{ item }}"
        az: "{{ aws_region }}{{ item.split('.')[1][-1:] }}"
        region: "{{ aws_region }}"
        tags:
          Name: "{{ vpc_name }}-public-{{ item.split('.')[1] }}"
          Type: "Public"
          Environment: "dev"
      loop: "{{ public_subnets }}"

    - name: Create private subnets
      amazon.aws.ec2_vpc_subnet:
        vpc_id: "{{ vpc.vpc.id }}"
        cidr: "{{ item }}"
        az: "{{ aws_region }}{{ item.split('.')[1][-1:] }}"
        region: "{{ aws_region }}"
        tags:
          Name: "{{ vpc_name }}-private-{{ item.split('.')[1] }}"
          Type: "Private"
          Environment: "dev"
      loop: "{{ private_subnets }}"
