{{- range $name, $config := .Values.services }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  labels:
    app: {{ $name }}
    {{- include "spring-petclinic.labels" $ | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ $config.port }}
      targetPort: {{ $config.port }}
      protocol: TCP
      name: http
  selector:
    app: {{ $name }}
{{- end }}
