---
- name: Install Java 21 (Amazon Corretto)
  dnf:
    name: java-21-amazon-corretto-devel
    state: present
  when: ansible_os_family == "RedHat"

- name: Set Java Home Environment Variable (Optional)
  lineinfile:
    path: /etc/profile.d/java.sh
    line: 'export JAVA_HOME=/usr/lib/jvm/java-21-amazon-corretto'
    create: yes
