---
- name: Update dnf cache
  dnf:
    update_cache: yes

- name: Install Java 21 (Amazon Corretto)
  dnf:
    name: java-21-amazon-corretto-devel
    state: present
  when: ansible_os_family == "RedHat"

- name: Ensure Java binary is in PATH
  command: java -version
  register: java_check
  changed_when: false

- name: Set Java Home Environment Variable
  lineinfile:
    path: /etc/profile.d/java.sh
    line: 'export JAVA_HOME=/usr/lib/jvm/java-21-amazon-corretto'
    create: yes
    mode: '0644'
