---
- name: Download Kubectl v1.29.0
  get_url:
    url: "https://dl.k8s.io/release/v1.29.0/bin/linux/{{ 'amd64' if ansible_facts['architecture'] == 'x86_64' else 'arm64' }}/kubectl"
    dest: /usr/local/bin/kubectl
    mode: '0755'

- name: Create symlink for kubectl in /usr/bin
  file:
    src: /usr/local/bin/kubectl
    dest: /usr/bin/kubectl
    state: link

- name: Verify Kubectl Installation
  command: kubectl version --client
  register: kubectl_version
  changed_when: false
