---
- name: Download kubectl
  get_url:
    url: "https://dl.k8s.io/release/v{{ kubectl_version }}/bin/linux/amd64/kubectl"
    dest: /usr/local/bin/kubectl
    mode: '0755'

- name: Verify kubectl installation
  command: kubectl version --client
  register: kubectl_version_output
  changed_when: false

- name: Display kubectl version
  debug:
    msg: "{{ kubectl_version_output.stdout }}"
