---
- name: Download Maven 3.9.6
  get_url:
    url: https://archive.apache.org/dist/maven/maven-3/3.9.6/binaries/apache-maven-3.9.6-bin.tar.gz
    dest: /tmp/apache-maven-3.9.6-bin.tar.gz
    mode: '0644'

- name: Extract Maven
  unarchive:
    src: /tmp/apache-maven-3.9.6-bin.tar.gz
    dest: /opt/
    remote_src: true
    creates: /opt/apache-maven-3.9.6

- name: Symlink Maven
  file:
    src: /opt/apache-maven-3.9.6
    dest: /opt/maven
    state: link

- name: Add Maven to PATH
  copy:
    dest: /etc/profile.d/maven.sh
    content: |
      export M2_HOME=/opt/maven
      export PATH=${M2_HOME}/bin:${PATH}
    mode: '0644'

- name: Verify Maven Installation
  command: /opt/maven/bin/mvn -version
  register: mvn_check
  changed_when: false
