---
- name: Download Maven
  get_url:
    url: "https://archive.apache.org/dist/maven/maven-3/{{ maven_version }}/binaries/apache-maven-{{ maven_version }}-bin.tar.gz"
    dest: "/tmp/apache-maven-{{ maven_version }}-bin.tar.gz"
    mode: '0644'

- name: Create Maven directory
  file:
    path: "{{ maven_home }}"
    state: directory
    mode: '0755'

- name: Extract Maven
  unarchive:
    src: "/tmp/apache-maven-{{ maven_version }}-bin.tar.gz"
    dest: "{{ maven_home }}"
    remote_src: yes
    extra_opts: [--strip-components=1]
    creates: "{{ maven_home }}/bin/mvn"

- name: Create Maven symlink
  file:
    src: "{{ maven_home }}/bin/mvn"
    dest: /usr/local/bin/mvn
    state: link

- name: Set Maven environment variables
  lineinfile:
    path: /etc/environment
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
    create: yes
  loop:
    - { key: 'MAVEN_HOME', value: '{{ maven_home }}' }
    - { key: 'M2_HOME', value: '{{ maven_home }}' }

- name: Verify Maven installation
  command: mvn -version
  register: maven_version_output
  changed_when: false

- name: Display Maven version
  debug:
    msg: "{{ maven_version_output.stdout_lines }}"
