# Kustomization for Dev Environment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namespace: petclinic-dev

commonLabels:
  environment: dev
  app.kubernetes.io/part-of: spring-petclinic

patchesStrategicMerge:
  - deployment-patch.yaml

images:
  - name: placeholder-repository/app
    newName: 365269738775.dkr.ecr.us-east-1.amazonaws.com/petclinic-dev
    newTag: latest

configMapGenerator:
  - name: petclinic-config
    literals:
      - SPRING_PROFILES_ACTIVE=dev
      - LOGGING_LEVEL_ROOT=INFO
      - MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics,prometheus
      - MANAGEMENT_HEALTH_DISK_SPACE_ENABLED=false
      - DEBUG=false

secretGenerator:
  - name: petclinic-secrets
    literals:
      - DB_PASSWORD=dev-db-password
      - DB_USERNAME=devuser

resources:
  - configmap.yaml

replicas:
  - name: spring-petclinic-app
    count: 1
